<div class="container">
  <app-header></app-header>

  <div class="row justify-content-md-center mt-3 mb-3">
    <div class="col">

      <!--  component showing scales to chose -->
      <scales></scales>
    </div>
    <div class="col">
      <!--  component to pick colors for notes selection -->
      <color-picker></color-picker>
    </div>
  </div>
  <div class="row justify-content-md-center mt-3 mb-3">
    <div class="col">
      <!-- simulation of guitar frets and tunning -->
      <guitar></guitar>
    </div>
  </div>
  <app-footer></app-footer>
</div>