<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

      <!-- <instruction and description for app -->
      <div class="card mt-3 mb-3" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Easy teach guitar scales & chords</h5>
          <h6 class="card-subtitle mb-2 text-muted">How to use it?</h6>
          <p class="card-text">Pick your tunning and see which notes are placed on
            guitar frets. Chose scale to see how it's built.
            You can pick a color and select notes on frets
            (just click on it) to show your students how to build chords.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center mt-3 mb-3">
    <div class="col">

      <!--  component showing scales to chose -->
      <scales></scales>
    </div>
    <div class="col">
      <!--  component to pick colors for notes selection -->
      <color-picker></color-picker>
    </div>
  </div>
  <div class="row justify-content-md-center mt-3 mb-3">
    <div class="col">
      <!-- simulation of guitar frets and tunning -->
      <guitar></guitar>
    </div>
  </div>
</div>