
    <div class="form mb-2">
      <form (ngSubmit)="changeScale()">
        <label for="name"><strong class="px-2">Pick your scale: </strong></label>
        <select id="name" class="mr-2" name="name" [(ngModel)]="data.pickedScale.name">
          <option *ngFor="let name of notes" [value]="name"> {{name}} </option>
        </select>
        <select id="type" class="mr-2" name="type" [(ngModel)]="data.pickedScale.type">
          <option value="maj"> major </option>
          <option value="min"> minor </option>
        </select>
        <button class="btn btn-outline-primary" type="submit">Change</button>
  </form>
</div>
     <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">note</th>
          <th scope="col" *ngFor='let note of data.pickedScale.notes'>{{ note }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">position</th>
          <td>I</td>
          <td>II</td>
          <td>III</td>
          <td>IV</td>
          <td>V</td>
          <td>VI</td>
          <td>VII</td>
          <td>VIII</td>
        </tr>
      </tbody>
    </table>
