<form (ngSubmit)="changeTunning()">
  <table class="table table-hover guitar table-responsive-md">
    <thead>
      <tr>
        <th scope="col">string/fret</th>
        <th scope="col">I </th>
        <th scope="col">II </th>
        <th scope="col">III </th>
        <th scope="col">IV </th>
        <th scope="col">V </th>
        <th scope="col">VI </th>
        <th scope="col">VII </th>
        <th scope="col">VIII </th>
        <th scope="col">IX </th>
        <th scope="col">X </th>
        <th scope="col">XI </th>
        <th scope="col">XII </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> 1 - <select id="1" class="mr-2" name="1" [(ngModel)]="tunning[1]">
            <option *ngFor="let note of notes" [value]="note">{{note}} </option>
          </select>
        </th>
        <td *ngFor="let note of strings[1]" #box (click)="pickNote(box)"><p  [ngClass]="checkNote(note) ? 'font-weight-bold' : '' " > {{note}}</p></td>
      </tr>
      <tr>
        <th scope="row"> 2 - <select id="1" class="mr-2" name="2" [(ngModel)]="tunning[2]">
            <option *ngFor="let note of notes" [value]="note">{{note}} </option>
          </select> </th>
        <td *ngFor="let note of strings[2]" #box (click)="pickNote(box)"><p [ngClass]="checkNote(note) ? 'font-weight-bold' : '' " > {{note}}</p></td>
      </tr>
      <tr>
        <th scope="row"> 3 - <select id="1" class="mr-2" name="3" [(ngModel)]="tunning[3]">
            <option *ngFor="let note of notes" [value]="note">{{note}} </option>
          </select> </th>
        <td *ngFor="let note of strings[3]" #box (click)="pickNote(box)"><p [ngClass]="checkNote(note) ? 'font-weight-bold' : '' " > {{note}}</p></td>
      </tr>
      <tr>
        <th scope="row"> 4 - <select id="1" class="mr-2" name="4" [(ngModel)]="tunning[4]">
            <option *ngFor="let note of notes" [value]="note">{{note}} </option>
          </select> </th>
        <td *ngFor="let note of strings[4]" #box (click)="pickNote(box)"><p [ngClass]="checkNote(note) ? 'font-weight-bold' : '' " > {{note}}</p></td>
      </tr>
      <tr>
        <th scope="row"> 5 - <select id="1" class="mr-2" name="5" [(ngModel)]="tunning[5]">
            <option *ngFor="let note of notes" [value]="note">{{note}} </option>
          </select> </th>
        <td *ngFor="let note of strings[5]" #box (click)="pickNote(box)"><p [ngClass]="checkNote(note) ? 'font-weight-bold' : '' " > {{note}}</p></td>
      </tr>
      <tr>
        <th scope="row"> 6 - <select id="1" class="mr-2" name="6" [(ngModel)]="tunning[6]">
            <option *ngFor="let note of notes" [value]="note">{{note}} </option>
          </select> </th>
        <td *ngFor="let note of strings[6]" #box (click)="pickNote(box)"><p [ngClass]="checkNote(note) ? 'font-weight-bold' : '' " > {{note}}</p></td>
      </tr>
      <tr>
        <th scope="row"><button class="btn btn-outline-primary" type="submit"> change tunning </button> </th>
      </tr>
      <tr>
        <th scope="row"><button class="btn btn-outline-primary" (click)="standardTunning()">back to standard
            tunning</button>
        </th>
      </tr>
    </tbody>
  </table>
</form>